{# {% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %} #}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registerStyle.css">
    <title>Form validation</title>
</head>


<body>
    <div class="main">
        <form action="" method="post" class="form" id="form-1">
            <h1 class="heading">Log in</h1>
            <img class="form-logo" src="./nike.jpg" alt="">
            <p class="desc">"Nike, Just Do It"</p>

            <div class="spacer"></div>
            
            {% if error %}
				<div class="alert alert-danger">
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</div>
			{% endif %}

            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" placeholder="Email" autocomplete="email" required autofocus/>
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" placeholder="Password" required/>
                <span class="form-message"></span>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="form-submit">Log in</button>
        </form>
    </div>
</body>


</html>